{{- $github := "" -}}
{{- if env "GITHUB_TOKEN" -}}
{{- $github = env "GITHUB_TOKEN" -}}
{{- end -}}

data:
    github:
        token: {{ $github | quote }}
    openai:
        apikey: {{ env "OPENAI_API_KEY" | quote }}
